<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Angular Email</a>

    <!-- async allows us to direct link to obesrable or promse
    with each new value recalcutes signed in and ng if  -->
    <div class="right menu">
      <ng-container *ngIf="signedin$ | async">
        <a routerLink="/inbox" routerLinkActive="active" class="item">Inbox </a>
        <a routerLink="/signout" routerLinkActive="active" class="item">Sign Out </a>
      </ng-container>
      <!-- not whole pipel !() -->
      <ng-container *ngIf="!(signedin$ | async)">
        <a routerLink="/" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact:true}" class="item">Sign In </a>

        <a routerLink="/signup"
         routerLinkActive="active" class="item">Sign Up </a>
      </ng-container>

    </div>
  </div>
  <router-outlet></router-outlet>
</div>
